html {
    height: 100%;
}

h1{
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

body{
    height: 100%;
    width: 100%;
    background-color: lightgrey;
}


nav {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.para1{
    font-size: 1.5rem;
}

.liste1 {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 2rem;
}

.btn1 {
    height: 60px;
    width: 150px;
    background-color: rgb(119, 119, 119);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn1:hover {
    background-color: rgb(189, 189, 189);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.divmaman{
    display: flex;
    justify-content: space-around;
    height: 50%;
    background-color: whitesmoke;
    border: 5px solid;
    border-color: black; 
    border-radius: 5%;   
}

.div1{
    height: 100%;
    width: 20%;
    border-radius: 5%; 
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
